body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    background-color: grey;
    padding-left: 10%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    text-align: center;
}

.movie-search-form {
    margin: auto;
    background-color: white;
    width: 60%;
    text-align: center;
    padding: 20px;
}

input {
    margin-left: 20px;
    width: 60%;
}

.movie-list {
    background-color: white;
    width: 40%;
    margin-top: 15px;
    padding: 5px;
}



