body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    background-color: grey;
    padding-left: 10%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    text-align: center;
}

.movie-search-form {
    margin: auto;
    background-color: white;
    width: 60%;
    text-align: center;
    padding: 20px;
}

input {
    margin-left: 20px;
    width: 60%;
}

.movie-list {
    background-color: white;
    width: 50%;
    margin-top: 15px;
    padding: 5px;
}

.movie-card {
    clear: both;
}

.nominate-button {
    float: right;
}

.nominee-list {
    background-color: white;
    width: 50%;
    margin-top: 15px;
    padding: 5px;
}

.nominee-card {
    clear: both;
}

.banner {
    background-color: red;
    color: white;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 10px;
}

.user-form {
    background-color: white;
    padding: 20px;
    width: 50%;
    margin: auto;
}

.user-form label, input {
    display: inline-block;
}

.user-form label {
    width: 30%;
    text-align: right;
}

.user-form label+input {
    width: 30%;
    margin: 0 30% 0 4%;
}

.submit {
    width: 20%;
    margin-left: 40%;
}

.form-title {
    text-align: center;
}

